<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title dir="ltr">{{site.name}}</title>

        <style>{% include my_app.min.css %}</style>
        <script>document.addEventListener('touchstart', function() {},false);</script>
    </head>
    <body>

    	<header>
    		<h2>
    			<a href="">
    				<img src="https://s3.amazonaws.com/f.cl.ly/items/1b1K0B0118112Q233P0E/logo-b.png" alt="{{site.name}}" />
    			</a>
    		</h2>
    	</header>